{extend name="adminblue/base" /}
{block name="resources"}
<!-- 编辑商品时，用到的JS、CSS资源 -->
{include file="adminblue/Goods/controlEditGoodsCommonResources"}
{/block}
{block name="main"}
<input type="hidden" value="{$goods_info.state}" id ="goodsstate"/>
<div class="space-10"></div>
<div class="ncsc-form-goods">
	<nav class="goods-nav">
		<ul>
			<li class="selected" data-c="block-basic-setting"><a href="javascript:;">基础设置</a></li>
			<!-- 如果不是虚拟商品点卡才可编辑商品规格 -->
			<li data-c="block-goods-type"><a href="javascript:;">商品属性</a></li>
			{if condition="$goods_info.goods_type == 0 && $goods_info != ''"}
			<li data-c="block-goods-sku" style="display: none;"><a href=""></a>商品规格</li>
			{else/}
			<li data-c="block-goods-sku"><a href="javascript:;">商品规格</a></li>
			{/if}
			
			
			<li data-c="block-photo-video-setting"><a href="javascript:;">媒体设置</a></li>
			<li data-c="block-goods-detail-setting"><a href="javascript:;">商品详情</a></li>
			<li data-c="block-template-setting"><a href="javascript:;">模板设置</a></li>
		</ul>
	</nav>
	<!-- 基础设置 -->
	<div class="block-basic-setting">
		<h4>商品类型</h4>
		<dl>
			<dd class="goods_type_select">
				{if condition="$goods_info"}
					<span class="goods_type_item {if condition="$goods_info.goods_type == 1"}selected{/if}" data-goods-type="1" disabled>
						<p class="type_name">实物商品</p>
						<p class="type_desc">（物流发货）</p>
						<i class="selected-icon"></i>
						<input type="radio" name="goods_type" value="1" {if condition="$goods_info.goods_type == 1"}checked{/if}>
					</span>
					{foreach name="virtual_goods_group" item ="vo" key="k"}
					<span class="goods_type_item {if condition="$virtual_goods_type_info.virtual_goods_group_id == $vo.virtual_goods_group_id"}selected{/if}" data-goods-type="0" disabled>
						<p class="type_name">{$vo.virtual_goods_group_name}</p>
						<p class="type_desc">（虚拟商品）</p>
						<i class="selected-icon"></i>
						<input type="radio" name="virtual_goods_type" value="{$vo.virtual_goods_group_id}" {if condition="$virtual_goods_type_info.virtual_goods_group_id == $vo.virtual_goods_group_id"}checked{/if}/>
					</span>
					{/foreach}
				{else/}
					<span class="goods_type_item selected" data-goods-type="1">
						<p class="type_name">实物商品</p>
						<p class="type_desc">（物流发货）</p>
						<i class="selected-icon"></i>
						<input type="radio" name="goods_type" value="1" checked="checked">
					</span>
					{foreach name="virtual_goods_group" item ="vo" key="k"}
					<span class="goods_type_item" data-goods-type="0">
						<p class="type_name">{$vo.virtual_goods_group_name}</p>
						<p class="type_desc">（虚拟商品）</p>
						<i class="selected-icon"></i>
						<input type="radio" name="virtual_goods_type" value="{$vo.virtual_goods_group_id}" />
					</span>
					{/foreach}
				{/if}
			</dd>
		</dl>
		<h4>基础信息</h4>
		<dl>
			<dt><i class="required">*</i>商品名称：</dt>
			<dd>
				<input class="productname input-common long" type="text" id="txtProductTitle" placeholder="请输入商品名称，不能超过60个字符" {if condition="$goods_info"}value="{$goods_info.goods_name}"{/if} oninput='if(value.length>60){value=value.slice(0,60);$(this).next().text("商品名称不能超过60个字符").show();}else{$(this).next().hide();}'/>
				<span class="help-inline">请填写商品名称</span>
			</dd>
		</dl>
		<dl>
			<dt><i class="required">*</i>商品分类：</dt>
			{if condition="$goods_info"}
			<dd id="tbcNameCategory" data-flag="category" cid="{$goods_info.category_id}" data-attr-id="{$goods_info.goods_attribute_id}" cname="{$goods_info.category_name}" data-goods-id="{$goods_info.goods_id}">
				<span class="category-text">{$goods_info.category_name}</span>
			{else/}
			<dd id="tbcNameCategory" data-flag="category" data-goods-id="0" cid="" data-attr-id="" cname="">
				<span class="category-text"></span>
			{/if}
				<button class="category-button">选择</button>
				<span><label for="g_name" class="error"><i class="icon-exclamation-sign"></i>商品分类不能为空</label></span>
				<span class="help-inline">请选择商品分类</span>
			</dd>
		</dl>
		<dl>
			<dt>扩展分类：</dt>
			<dd id ="extend_name_category_box">
				{if condition="$goods_info"}
					<div class="extend-name-category-box">
					{if condition ="!empty($goods_info['extend_category'])"}
					{foreach $goods_info["extend_category"] as $k=>$vo}
						<div class="extend-name-category" id="extend_name_category{$k}" data-flag="extend_category" data-goods-id="{$goods_id}" cid="{$vo.extend_category_id}" data-attr-id="{$goods_info.goods_attribute_id}" cname="{$vo.extend_category_name}">
							<span class="category-text" onclick="editCategory(this);">{$vo.extend_category_name}</span>
							&nbsp;&nbsp;<span class="do-style" onclick="editCategory(this);"><i class="fa fa-edit"></i>&nbsp;编辑</span>&nbsp;&nbsp;
							<span class="do-style" onclick="removeParentBox(this);"><i class="fa fa-trash-o"></i>&nbsp;删除</span>
							<span class="help-inline" style="vertical-align: top;">已添加的商品扩展分类不能为空</span>
						</div>
					{/foreach}
					{/if}
					</div>
				{else/}
					<div class="extend-name-category-box"></div>
				{/if}
				<div class="clear">
					<button class="select-button" onclick="addExtentCategoryBox();"><i class="fa fa-plus-square"></i>&nbsp;添加</button>
				</div>
			</dd>
		</dl>
		
		{if condition="$goods_info"}
			{if condition="$goods_info.goods_type == 0"}
			
				{if condition="$virtual_goods_type_info.virtual_goods_group_id == 2"}
				<dl class="js-virtual-goods-cloud-download-resources" style="display:block;">
					<dt>网盘地址：</dt>
					<dd>
						<input id="cloud_address" type="text" class="input-common long" placeholder="请输入网盘地址" value="{$virtual_goods_type_info.value_info[0]['cloud_address']}" />
					</dd>
				</dl>
				<dl class="js-virtual-goods-cloud-download-resources" style="display:block;">
					<dt>网盘密码：</dt>
					<dd>
						<input id="cloud_password" type="text" class="input-common" placeholder="请输入网盘密码" value="{$virtual_goods_type_info.value_info[0]['cloud_password']}" />
					</dd>
				</dl>
				{elseif condition="$virtual_goods_type_info.virtual_goods_group_id == 3"}
				<dl class="js-virtual-goods-point-card-inventory" style="display:block;">
					<dt>卡密库存：</dt>
					<dd>
						<span data-inventory="{$virtual_goods_count}">{$virtual_goods_count}件</span>
					</dd>
				</dl>
			
				{elseif condition="$virtual_goods_type_info.virtual_goods_group_id == 4"}
				<dl class="js-virtual-goods-site-directly-download-resources" style="display:block;">
					<dt>上传文件：</dt>
					<dd>
						<div class="upload-btn-common">
							<div>
								<input class="input-file" name="file_upload" id="uploadDownloadResources" type="file" onchange="imgUpload(this);" title="上传" only-type=".zip">
								<input type="hidden" id="download_resources" value="{$virtual_goods_type_info.value_info[0]['download_resources']}" />
							</div>
							<input type="text" id="text_download_resources" class="input-common" readonly="readonly" value="{$virtual_goods_type_info.value_info[0]['download_resources']}" />
							<em style="top:1px;">上传</em>
						</div>
						<p class="hint">上传附件类型必须是<i class="important-note">zip</i>格式</p>
					</dd>
						
				</dl>
				<dl class="js-virtual-goods-site-directly-download-resources" style="display:block;">
					<dt>解压密码：</dt>
					<dd>
						<input id="unzip_password" type="text" class="input-common" placeholder="请输入解压密码" value="{$virtual_goods_type_info.value_info[0]['unzip_password']}" />
					</dd>
				</dl>
				{/if}
				
			<dl class="js-virtual-goods-type-block" style="display:block;">
				<dt>有效期/天：</dt>
				<dd>
					<input id="validity_period" type="text" placeholder="请输入有效期" class="input-common harf" value="{$virtual_goods_type_info.validity_period}" 
					/><em class="unit">天</em>
					<p class="hint notice">输入0表示不限制</p>
				</dd>
			</dl>
			
			<dl class="js-virtual-goods-type-block" style="display:block;">
				<dt>限制使用次数：</dt>
				<dd>
					<span class="js-confine_use_number" style="color: #FF5722;font-weight: bold;">{if condition="$virtual_goods_type_info.confine_use_number==0"}不限制{else/}{$virtual_goods_type_info.confine_use_number}次{/if}</span>
				</dd>
			</dl>
			{/if}
		{else/}
		
		<dl class="js-virtual-goods-cloud-download-resources">
			<dt>网盘地址：</dt>
			<dd>
				<input id="cloud_address" type="text" class="input-common long" placeholder="请输入网盘地址" />
			</dd>
		</dl>
		
		<dl class="js-virtual-goods-cloud-download-resources">
			<dt>网盘密码：</dt>
			<dd>
				<input id="cloud_password" type="text" class="input-common" placeholder="请输入网盘密码" />
			</dd>
		</dl>
		
		<dl class="js-virtual-goods-site-directly-download-resources">
			<dt>上传文件：</dt>
			<dd>
				<div class="upload-btn-common">
					<div>
						<input class="input-file" name="file_upload" id="uploadDownloadResources" type="file" onchange="imgUpload(this);" title="上传" only-type=".zip">
						<input type="hidden" id="download_resources" value="" />
					</div>
					<input type="text" id="text_download_resources" class="input-common" readonly="readonly" value="" />
					<em style="top:1px;">上传</em>
				</div>
				<p class="hint">上传附件类型必须是<i class="important-note">zip</i>格式</p>
			</dd>
		</dl>
		
		<dl class="js-virtual-goods-site-directly-download-resources">
			<dt>解压密码：</dt>
			<dd>
				<input id="unzip_password" type="text" class="input-common" placeholder="请输入解压密码" />
			</dd>
		</dl>
		
		<dl class="js-virtual-goods-point-card-inventory">
			<dt>卡密库存：</dt>
			<dd>
				<span>0件</span>
			</dd>
		</dl>
		<dl class="js-virtual-goods-point-card-inventory">
			<dt>添加卡密：</dt>
			<dd>
				<span style="font-weight: bold;color: #FF5722;">导入格式为卡号+空格+密码(可跟上附加内容)，一行一组，如AAAAA BBBBB</span><br/>
				<textarea class="textarea-common long" id="card_password"></textarea>
			</dd>
		</dl>
		<dl class="js-virtual-goods-type-block">
			<dt>有效期/天：</dt>
			<dd>
				<input id="validity_period" type="text" placeholder="请输入有效期" class="input-common harf"><em class="unit">天</em>
				<p class="hint notice">输入0表示不限制</p>
			</dd>
		</dl>
		
		<dl class="js-virtual-goods-type-block">
			<dt>限制使用次数：</dt>
			<dd>
				<span class="js-confine_use_number" style="color: #FF5722;font-weight: bold;">1次</span>
			</dd>
		</dl>
		{/if}
		
		<dl>
			<dt>商品促销语：</dt>
			<dd>
				<input class="productname input-common long" type="text" id="txtIntroduction" placeholder="请输入促销语，不能超过100个字符" {if condition="$goods_info"}value="{$goods_info.introduction}"{/if} oninput='if(value.length>100){value=value.slice(0,100);$(this).next().text("促销语不能超过100个字符").show();}else{$(this).next().hide();}'/>
				<span class="help-inline">请输入商品促销语，不能超过100个字符</span>
			</dd>
		</dl>
		<dl>
			<dt>关键词：</dt>
			<dd>
				<input class="productname input-common" type="text" id="txtKeyWords" placeholder="商品关键词用于SEO搜索" {if condition="$goods_info"}value="{$goods_info.keywords}"{/if} oninput='if(value.length>40){value=value.slice(0,40);$(this).next().text("商品关键词不能超过40个字符").show();}'/>
				<span class="help-inline">请输入商品促销语，不能超过40个字符</span>
			</dd>
		</dl>
		<dl>
			<dt>商品单位：</dt>
			<dd>
				<input class="productname input-common" type="text" id="goodsUnit" placeholder="请输入商品单位" {if condition="$goods_info"}value="{$goods_info.goods_unit}"{/if} oninput='if(value.length>10){value=value.slice(0,10);$(this).next().text("商品单位不能超过10个字符").show();}'/>
				<span class="help-inline">请输入商品单位，不能超过10个字符</span>
			</dd>
		</dl>
		<dl>
			<dt>商品标签：</dt>
			<dd>
				<div class="group-text-check-box">
					<div class="controls product-category-position">
						{if condition = "!empty($group_list)"}
							{if condition="$goods_info['group_id_array'] neq ''"}
								<select class="select-common" multiple id="goods_group" size="1">
									<option value="0" disabled>请选择商品标签</option>
									{foreach $group_list as $k=>$v}
										{in name="$v.group_id" value="$goods_info['group_id_array']"}
										<option value="{$v.group_id}" selected>{$v.group_name}</option>
										{else/}
										<option value="{$v.group_id}">{$v.group_name}</option>
										{/in}
									{/foreach}
								</select>
							{else/}
								<select class="select-common" multiple id="goods_group" size="1">
									<option value="0" disabled>请选择商品标签</option>	
									{foreach $group_list as $k=>$v}
										<option value="{$v.group_id}">{$v.group_name}</option>
									{/foreach}
								</select>
							{/if}
						{else /}
							<span class="span-error" style="display:block;">暂无可选的商品标签</span>
						{/if}
					</div>
				</div>
			</dd>
		</dl>
		<dl style="overflow: inherit;">
			<dt>商品品牌：</dt>
			<dd class="js-brand-block">
				<div class="controls brand-controls">
					<select id="brand_id" class="select-common-ajax">
						{if condition="$goods_info"}
							{if condition="$goods_info['brand_info']"}
							<option value="{$goods_info['brand_info']['brand_id']}">{$goods_info['brand_info']['brand_name']}</option>
							{else/}
							<option value="0">请选择商品品牌</option>
							{/if}
						{else/}
						<option value="0">请选择商品品牌</option>
						{/if}
					</select>
					<input type="text" id="selected_brand_name" style="padding:0;margin:0;opacity: 0;position: absolute;"/>
					<p class="hint">可输入品牌名或品牌首字母来搜索品牌</p>
				</div>
			</dd>
		</dl>
		<dl>
			<dt>供货商：</dt>
			<dd>
				<select id="supplierSelect" class="select-common">
					<option value="0">请选择供货商</option>
					{foreach name="supplier_list" item="sup"}
					{if condition="$goods_info"}
						{if condition = "$sup.supplier_id eq $goods_info.supplier_id"}
						<option value="{$sup.supplier_id}" selected="selected">{$sup.supplier_name}</option>
						{else/}
						<option value="{$sup.supplier_id}">{$sup.supplier_name}</option>
						{/if}
					{else/}
						<option value="{$sup.supplier_id}">{$sup.supplier_name}</option>
					{/if}
					{/foreach}
				</select>
				<span class="help-inline">请选择供货商</span>
			</dd>
		</dl>
		<dl>
			<dt>基础销量：</dt>
			<dd>
				<input type="number" class="span1 input-common harf" id="BasicSales" placeholder="0" {if condition="$goods_info"}value="{$goods_info.sales}"{/if} 
				/><em class="unit">件</em>
				<span class="help-inline">基础销量必须是数字，且不能为负数</span>
			</dd>
		</dl>
		<dl>
			<dt>基础点击数：</dt>
			<dd>
				<input type="number" class="span1 input-common harf" id="BasicPraise" placeholder="0" {if condition="$goods_info"}value="{$goods_info.clicks}"{/if} 
				/><em class="unit">次</em>
				<span class="help-inline">基础点击数必须是数字，且不能为负数</span>
			</dd>
		</dl>
		<dl>
			<dt>基础分享数：</dt>
			<dd>
				<input type="number" class="span1 input-common harf" id="BasicShare" placeholder="0" {if condition="$goods_info"}value="{$goods_info.shares}"{/if} 
				/><em class="unit">次</em>
				<span class="help-inline">基础分享数必须是数字，且不能为负数</span>
			</dd>
		</dl>
		<dl>
			<dt>商家编码：</dt>
			<dd>
				<input type="text" class="input-common" id="txtProductCodeA" placeholder="请输入商家编码" {if condition="$goods_info"}value="{$goods_info.code}"{/if}/>
				<span class="help-inline">请输入商家编码，不能超过40个字符</span>
			</dd>
		</dl>
		<dl>
			<dt>生产日期：</dt>
			<dd>
				<input type="text" class="input-common" id="production_date" onclick="WdatePicker()" {if condition="$goods_info"}{if condition='$goods_info["production_date"] != 0'}value="{$goods_info.production_date|date='Y-m-d',###}"{/if}{/if}>
			</dd>
		</dl>
		<dl>
			<dt>保质期天数：</dt>
			<dd>
				<input type="number" class="goods-stock input-common harf" id="shelf_life" value="{if condition="$goods_info"}{$goods_info.shelf_life}{else/}0{/if}"
				/><em class="unit">天</em>
				<span class="help-inline">请输入保质期天数，必须是整数</span>
			</dd>
		</dl>

		<dl {if condition="$virtual_goods_type_info.virtual_goods_group_id == 3"} style = "display: none;"{/if}>
			<dt><i class="required">*</i>总库存：</dt>
			<dd>
				<input type="number" class="goods-stock input-common harf" id="txtProductCount" min="0" value="{if condition="$goods_info"}{$goods_info.stock}{else/}0{/if}" 
				/><em class="unit">件</em>
				<span class="help-inline">请输入总库存数量，必须是大于0的整数</span>
			</dd>
		</dl>
		<dl>
			<dt><i class="required">*</i>库存预警：</dt>
			<dd>
				<input type="number" class="goods-stock input-common harf" id="txtMinStockLaram" min="0" value="{if condition="$goods_info"}{$goods_info.min_stock_alarm}{else/}0{/if}" 
				/><em class="unit">件</em>
				<span class="help-inline">请输入库存预警数，必须是大于0的整数</span>
				<p class="hint">设置最低库存预警值。当库存低于预警值时商家中心商品列表页库存列红字提醒。<br>0为不预警。</p>
			</dd>
		</dl>

		<dl>
			<dt><i class="required">*</i>库存显示：</dt>
			<dd>
				<div class="controls">
					{if condition="$goods_info"}
						{if condition = "$goods_info.is_stock_visible  eq 1"}
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="stock" checked="checked" value="1" />
							</i>
							<span>是</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="stock" value="0" />
							</i>
							<span>否</span>
						</label>
						{else /}
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="stock"  value="1" />
							</i>
							<span>是</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="stock" value="0" checked="checked" />
							</i>
							<span>否</span>
						</label>
						{/if}
					{else/}
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="stock" checked="checked" value="1" />
							</i>
							<span>是</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="stock" value="0" />
							</i>
							<span>否</span>
						</label>
					{/if}
					<span class="help-inline">请选择库存是否显示</span>
				</div>
			</dd>
		</dl>
		<dl>
			<dt><i class="required">*</i>是否上架：</dt>
			<dd>
				<div class="controls">
					{if condition="$goods_info"}
						{if condition = "$goods_info.state eq 1"}
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="shelves" value="1" checked="checked" />
							</i>
							<span>立刻上架</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="shelves" value="0" />
							</i>
							<span>放入仓库</span>
						</label>
						{else /}
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="shelves" value="1" />
							</i>
							<span>立刻上架</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="shelves" value="0" checked="checked" />
							</i>
							<span>放入仓库</span>
						</label>
						{/if}
					{else/}
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="shelves" value="1" checked="checked" />
							</i>
							<span>立刻上架</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="shelves" value="0" />
							</i>
							<span>放入仓库</span>
						</label>
					{/if}
				</div>
			</dd>
		</dl>
		<dl>
			<dt>商品所在地：</dt>
			<dd>
				<select id="provinceSelect" class="select-common middle" onchange="getProvince(this,'#citySelect',-1)">
					<option value="0">请选择省</option>
				</select>
				<select id="citySelect" class="select-common middle">
					<option value="0">请选择市</option>
				</select>
			</dd>
		</dl>
		
		<h4>购买信息</h4>
		
		<dl>
			<dt>市场价格：</dt>
			<dd>
				<input class="goods_price input-common harf" type="number" id="txtProductMarketPrice" {if condition="$goods_info"}value="{$goods_info.market_price}"{/if} min="0" placeholder="0.00" 
				/><em class="unit">元</em>
				<span class="help-inline">商品市场价格必须是数字，且不能为负数</span>
			</dd>
		</dl>
		<dl>
			<dt><i class="required">*</i>销售价格：</dt>
			<dd>
				<input class="goods_price input-common harf" type="number" id="txtProductSalePrice" {if condition="$goods_info"}value="{$goods_info.price}"{/if} min="0" placeholder="0.00" 
				/><em class="unit">元</em>
				<span class="help-inline">商品销售价不能为空，且不能为负数</span>
			</dd>
		</dl>
		<dl>
			<dt>成本价格：</dt>
			<dd>
				<input class="goods_price input-common harf" type="number" id="txtProductCostPrice" {if condition="$goods_info"}value="{$goods_info.cost_price}"{/if} min="0" placeholder="0.00" 
				/><em class="unit">元</em>
				<span class="help-inline">商品成本必须是数字，且不能为负数</span>
			</dd>
		</dl>
		
		<dl>
			<dt>阶梯优惠：</dt>
			<dd>
				<p class="hint notice" >设置商品阶梯优惠，当购买数量达到所设数量时，商品单价 = 商品销售价 - 优惠价格</p>
				<div class="ladder_preference_content">
					<div>
						<span class="label-title">数量</span><span class="label-title" style="margin-left: 30px;">优惠价格</span>
					</div>
					{notempty name="ladder_preferential"}
						{foreach name="$ladder_preferential" item="vo"}
						<div class="ladder_preference">
							<input type="number" class="input-common short ladder" value="{$vo.quantity}">
							<input type="number" class="input-common short preference" value="{$vo.price}">
							<a href="javascript:;" class="delete_preference">删除</a></div>
						{/foreach}
					{/notempty}
					<div id="ladder_preference"></div>
				</div>
				<div class="add_ladder_preference"><i class="fa fa-plus" aria-hidden="true"></i></div>
			</dd>
		</dl>
		<dl>
			<dt><i class="required">*</i>运费：</dt>
			<dd>
				<div class="controls">
				
					{if condition="$goods_info"}
						{if condition = "$goods_info.shipping_fee eq 0"}
							<label class="radio inline normal">
								<i class="radio-common selected">
									<input type="radio" name="fare" value="0" checked="checked" />
								</i>
								<span>免邮</span>
							</label>
							<label class="radio inline normal">
								<i class="radio-common">
									<input type="radio" name="fare" value="1">
								</i>
								<span>买家承担运费</span>
							</label>
						{else /}
							<label class="radio inline normal">
								<i class="radio-common">
									<input type="radio" name="fare" value="0" >
								</i>
								<span>免邮</span>
							</label>
							<label class="radio inline normal">
								<i class="radio-common selected">
									<input type="radio" name="fare" value="1" checked="checked" />
								</i>
								<span>买家承担运费</span>
							</label>
						{/if}
					{else/}
						<label class="radio inline normal">
							<i class="radio-common selected">
								<input type="radio" name="fare" value="0" checked="checked" />
							</i>
							<span>免邮</span>
						</label>
						<label class="radio inline normal">
							<i class="radio-common">
								<input type="radio" name="fare" value="1" />
							</i>
							<span>买家承担运费</span>
						</label>
					{/if}
					<span class="help-inline">请选择运费类型</span>
				</div>
			</dd>
		</dl>
		
		{if condition="$goods_info"}
			{if condition = "$goods_info.shipping_fee  eq 0"}
			<dl id="valuation-method" style=" display:none;">
				<dt><i class="required">*</i>计价方式：</dt>
				<dd>
					<label class="radio inline normal">
						<i class="radio-common selected">
							<input type="radio" name="shipping_fee_type" value="3" checked="checked" />
						</i>
						<span>计件</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="2" />
						</i>
						<span>体积</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="1" />
						</i>
						<span>重量</span>
					</label>
				</dd>
			</dl>
			<dl id="commodity-weight" style=" display:none;">
				<dt><i class="required">*</i>商品重量：</dt>
				<dd>
					<input type="number" class="goods-stock input-common" id="goods_weight" min="0" value="0" 
					/><em class="unit">公斤</em>
					<span class="help-inline">商品重量不能为空</span>
				</dd>
			</dl>
			<dl id="commodity-volume" style=" display:none;">
				<dt><i class="required">*</i>商品体积：</dt>
				<dd>
					<input type="number" class="goods-stock input-common" id="goods_volume" min="0" value="0" 
					/><em class="unit">立方米</em>
					<span class="help-inline">商品体积不能为空</span>
				</dd>
			</dl>
			<dl id="express_Company" style="display: none;">
				<dt>物流公司：</dt>
				<dd>
					<select id="expressCompany" class="select-common">
						<option value="0">请选择物流公司</option>
						{foreach name="expressCompanyList" item="vo"}
						<option value="{$vo.co_id}">{$vo.company_name}</option>
						{/foreach}
					</select>
				</dd>
			</dl>
			{else /}
			
			<dl id="valuation-method">
				<dt><i class="required">*</i>计价方式：</dt>
				<dd>
					{if condition = "$goods_info.shipping_fee_type eq 3"}
					<label class="radio inline normal">
						<i class="radio-common selected">
							<input type="radio" name="shipping_fee_type" value="3" checked="checked" />
						</i>
						<span>计件</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="2" />
						</i>
						<span>体积</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="1" />
						</i>
						<span>重量</span>
					</label>
					{elseif condition = "$goods_info.shipping_fee_type eq 2"/}
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="3" />
						</i>
						<span>计件</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common selected">
							<input type="radio" name="shipping_fee_type" value="2" checked="checked" />
						</i>
						<span>体积</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="1" />
						</i>
						<span>重量</span>
					</label>
					{else/}
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="3" />
						</i>
						<span>计件</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common">
							<input type="radio" name="shipping_fee_type" value="2" />
						</i>
						<span>体积</span>
					</label>
					<label class="radio inline normal">
						<i class="radio-common selected">
							<input type="radio" name="shipping_fee_type" value="1" checked="checked" />
						</i>
						<span>重量</span>
					</label>
					{/if}
				</dd>
			</dl>
			
			<dl id="commodity-weight">
				<dt><i class="required">*</i>商品重量：</dt>
				<dd>
					<input type="number" class="goods-stock input-common" id="goods_weight" min="0" value="{$goods_info.goods_weight}" 
					/><em class="unit">公斤</em>
					<span class="help-inline">商品重量必须大于0</span>
				</dd>
			</dl>
			
			<dl id="commodity-volume">
				<dt><i class="required">*</i>商品体积：</dt>
				<dd>
					<input type="number" class="goods-stock input-common" id="goods_volume" min="0" value="{$goods_info.goods_volume}" 
					/><em class="unit">立方米</em>
					<span class="help-inline">商品体积必须大于0</span>
				</dd>
			</dl>
			<dl id="express_Company">
				<dt>物流公司：</dt>
				<dd>
					<select id="expressCompany" class="select-common">
						<option value="0">请选择物流公司</option>
						{foreach name="expressCompanyList" item="vo"}
						<option value="{$vo.co_id}" {if condition="$goods_info['shipping_fee_id'] eq $vo['co_id']"}selected{/if}>{$vo.company_name}</option>
						{/foreach}
					</select>
				</dd>
			</dl>
			{/if}
		{else/}
		<dl id="valuation-method" style="display: none">
			<dt><i class="required">*</i>计价方式：</dt>
			<dd>
				<label class="radio inline normal">
					<i class="radio-common selected">
						<input type="radio" name="shipping_fee_type" value="3" checked="checked" />
					</i>
					<span>计件</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common">
						<input type="radio" name="shipping_fee_type" value="2" />
					</i>
					<span>体积</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common">
						<input type="radio" name="shipping_fee_type" value="1" />
					</i>
					<span>重量</span>
				</label>
			</dd>
		</dl>
		<dl id="commodity-weight" style="display: none">
			<dt><i class="required">*</i>商品重量：</dt>
			<dd>
				<input type="number" class="goods-stock input-common harf" id="goods_weight" min="0" value="0" 
				/><em class="unit">公斤</em>
				<span class="help-inline">商品重量必须大于0</span>
			</dd>
		</dl>
		<dl id="commodity-volume" style="display: none">
			<dt><i class="required">*</i>商品体积：</dt>
			<dd>
				<input type="number" class="goods-stock input-common harf" id="goods_volume" min="0" value="0" 
				/><em class="unit">立方米</em>
				<span class="help-inline">商品体积必须大于0</span>
			</dd>
		</dl>
		<dl id="express_Company" style="display: none;">
			<dt>物流公司：</dt>
			<dd>
				<select id="expressCompany" class="select-common">
					<option value="0">请选择物流公司</option>
					{foreach name="expressCompanyList" item="vo"}
					<option value="{$vo.co_id}">{$vo.company_name}</option>
					{/foreach}
				</select>
			</dd>
		</dl>
		{/if}
		
		<dl>
			<dt>每人限购：</dt>
			<dd>
				<div class="controls">
					<input type="number" class="input-mini input-common harf" min="0" placeholder="0" id="PurchaseSum" {if condition="$goods_info"}value="{$goods_info.max_buy}"{/if} 
					/><em class="unit">件</em>
					<p class="hint notice" >输入0表示不限购</p>
				</div>
			</dd>
		</dl>
		<dl>
			<dt>最少购买数：</dt>
			<dd>
				<div class="controls">
					<input type="number" class="input-mini input-common harf" min="1" placeholder="0" id="minBuy" {if condition="$goods_info"}value="{$goods_info.min_buy}"{/if}
					/><em class="unit">件</em>
					<span class="help-inline">最少购买数必须是大于0的整数</span>
				</div>
			</dd>
		</dl>
		<!-- 预售设置 -->
		<div id="presell_set">
		{include file="adminblue/Goods/controlGoodsPresell" }
		</div>
		<h4>积分设置</h4>
		<dl id="integral_balance">
			<dt>最大可使用积分：</dt>
			<dd>
				<input type="number" class="input-common harf" id="max_use_point" value="{$goods_info.max_use_point}" onchange="integrationChange(this);"
				/><em class="unit">分</em>
				<p class="hint">设置购买时积分抵现最大可使用积分数，0为不可使用 </span></p>
			</dd>
		</dl>
		<dl>
			<dt>积分兑换设置：</dt>
			<dd>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.point_exchange_type eq 0}selected{/if}">
						<input type="radio" name="integralSelect" {if $goods_info.point_exchange_type eq 0}checked{/if} value="0">
					</i>
					<span>非积分兑换</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.point_exchange_type eq 1}selected{/if}">
						<input type="radio" name="integralSelect" {if $goods_info.point_exchange_type eq 1}checked{/if} value="1">
					</i>
					<span>积分加现金购买</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.point_exchange_type eq 2}selected{/if}">
						<input type="radio" name="integralSelect" {if $goods_info.point_exchange_type eq 2}checked{/if} value="2">
					</i>
					<span>积分兑换或直接购买</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.point_exchange_type eq 3}selected{/if}">
						<input type="radio" name="integralSelect" {if $goods_info.point_exchange_type eq 3}checked{/if} value="3">
					</i>
					<span>只支持积分兑换</span>
				</label>
			</dd>
		</dl>
		<dl>
			<dt>兑换所需积分：</dt>
			<dd>
				<input type="number" class="input-common harf" id="integration_available_use" value="{if condition="$goods_info.point_exchange"}{$goods_info.point_exchange}{else/}0{/if}" onchange="integrationChange(this);"
				/><em class="unit">分</em>
				<span class="help-inline">请设置积分</span>
			</dd>
		</dl>
		<dl>
			<dt>购买赠送积分：</dt>
			<dd>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.integral_give_type eq 0}selected{/if}">
						<input type="radio" name="integral_give_type" {if $goods_info.integral_give_type eq 0}checked{/if} value="0">
					</i>
					<span>赠送固定积分</span>
				</label>
				<label class="radio inline normal">
					<i class="radio-common {if $goods_info.integral_give_type eq 1}selected{/if}">
						<input type="radio" name="integral_give_type" {if $goods_info.integral_give_type eq 1}checked{/if} value="1">
					</i>
					<span>按比率赠送积分</span>
				</label>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd>
				<div class="controls" {if $goods_info.integral_give_type neq 0}style="display: none;"{/if}>
					<input id="integration_available_give" class="input-mini input-common harf" placeholder="0" min="0" type="number" onchange="integrationChange(this);" value="{if condition="$goods_info && $goods_info['integral_give_type'] eq 0"}{$goods_info.give_point}{else/}0{/if}" 
					/><em class="unit">分</em>
					<span class="help-inline">请设置积分</span>
				</div>
				<div class="controls" {if $goods_info.integral_give_type neq 1}style="display: none;"{/if}>
					<input id="integration_available_give_ratio" class="input-mini input-common harf" placeholder="0" min="0" max="100" type="number" onchange="integrationChange(this);" value="{if condition="$goods_info && $goods_info['integral_give_type'] eq 1"}{$goods_info.give_point}{else/}0{/if}" 
					/><em class="unit">%</em>
					<span class="help-inline">请设置积分</span>
				</div>
			</dd>
		</dl>
		{if count($level_list) > 0}
			<h4>折扣设置</h4>
			{foreach name="$level_list" item="vo"}
				<dl>
					<dt>{$vo.level_name}：</dt>
					<dd>
						<div class="controls">
							<input class="input-common harf" name="member_discount" placeholder="0" min="0" type="number" value="{$vo.discount}" data-level-id="{$vo.level_id}"/><em class="unit">%</em>
						</div>
					</dd>
				</dl>
			{/foreach}
			<dl>
				<dt>价格保留方式：</dt>
				<dd>
					<label class="radio inline normal decimal_reservation_number">
						<i class="checkbox-common {if $level_list[0]['decimal_reservation_number'] eq 0}selected{/if}">
							<input type="checkbox" name="decimal-reservation-number" value="0" {if $level_list[0]['decimal_reservation_number'] eq 0}checked{/if}>
						</i>
						<span>抹去角和分</span>
					</label>
					<label class="radio inline normal decimal_reservation_number">
						<i class="checkbox-common {if $level_list[0]['decimal_reservation_number'] eq 1}selected{/if}">
							<input type="checkbox" name="decimal-reservation-number" value="1" {if $level_list[0]['decimal_reservation_number'] eq 1}checked{/if}>
						</i>
						<span>抹去分</span>
					</label>
				</dd>
			</dl>
		{/if}
	</div>
	
	<!-- 商品规格 -->
	<div class="block-goods-sku">
		<nav >
			<button class="btn-common-white js-open-edit-sku-popup">编辑规格</button>
			<button class="btn-common-white js-clear-goods-sku">清空规格</button>
		</nav>
		<div style="padding:10px;line-height: 30px;display: none;">
			<table class="goods-sku js-goods-sku"></table>
		</div>
		
		<div class="volume-set-sku-info">
			<span>批量设置：</span>
			<a href="javascript:;" data-tag="sku-price">销售价格</a>
			<a href="javascript:;" data-tag="market-price">市场价格</a>
			<a href="javascript:;" data-tag="cost-price">成本价格</a>
			<a href="javascript:;" data-tag="stock-num">库存</a>
			<input type="text" class="input-common middle" />
			<button class="btn-common">确定</button>
			<button class="btn-common-cancle">取消</button>
		</div>
		
		<div class="goods-sku-list">
			<table class="table-class">
				<colgroup>
					<col width="50%">
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="10%">
				</colgroup>
				<thead>
					<tr>
						<th align="left">商品规格</th>
						<th>
							<span>销售价格</span>
<!-- 							<input type="text" class="input-common short" /> -->
<!-- 							<a href="javascript:;" style="float:right;">编辑</a> -->
						</th>
						<th>
							<span>市场价格</span>
<!-- 							<a href="javascript:;" style="float:right;">编辑</a> -->
						</th>
						<th>
							<span>成本价格</span>
<!-- 							<a href="javascript:;" style="float:right;">编辑</a> -->
						</th>
						<th>
							<span>库存</span>
<!-- 							<a href="javascript:;" style="float:right;">编辑</a> -->
						</th>
						<th>
							<span>商家编码</span>
<!-- 							<a href="javascript:;" style="float:right;">编辑</a> -->
						</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		
	</div>
	
	<div class="block-goods-type">
		
		<h4>基础信息</h4>
		
		<dl>
			<dt>商品类型：</dt>
			<dd>
				<select id="goodsType" class="select-common">
					<option value="0">请选择商品类型</option>
					{foreach name="goods_attribute_list" item="attribute"}
					{if condition="$goods_info"}
						{if condition="$goods_info.goods_attribute_id == $attribute.attr_id"}
						<option value="{$attribute.attr_id}" selected="selected">{$attribute.attr_name}</option>
						{else/}
						<option value="{$attribute.attr_id}">{$attribute.attr_name}</option>
						{/if}
					{else/}
						{if condition="$goods_attr_id == $attribute.attr_id"}
						<option value="{$attribute.attr_id}" selected="selected">{$attribute.attr_name}</option>
						{else/}
						<option value="{$attribute.attr_id}">{$attribute.attr_name}</option>
						{/if}
					{/if}
					{/foreach}
				</select>
				<span class="help-inline">请选择商品类型</span>
			</dd>
		</dl>
		<h4 style="display:none;" class="js-goods-attribute-block">商品属性：</h4>
		<div class="goods-sku-attribute-block js-goods-attribute-block">
			<table class="goods-sku-attribute js-goods-sku-attribute"></table>
		</div>
	</div>
	
	<!-- 图片视频设置 -->
	<div class="block-photo-video-setting">
		
		<div class="goods-photos">
			<h4>商品图片</h4>
			<dl>
				<dt>图片上传：</dt>
				<dd>
<!-- 			（第一张图片将作为商品主图，支持同时上传多张图片,多张图片之间可随意调整位置；支持jpg、gif、png格式上传或从图片空间中选择，建议使用尺寸800x800像素以上、大小不超过1M的正方形图片，上传后的图片将会自动保存在图片空间的默认分类中。） -->
					
					<div id="goods_picture_box" class="controls">
						<div class="goodspic-uplaod">
							<div class='img-box' style="min-height:160px;">
								{if condition="$goods_info"}
									{if condition="count($goods_info['img_temp_array']) gt 0" }
										{foreach $goods_info["img_temp_array"]  as $vo}
											<div class="upload-thumb draggable-element">
												<img src="{:__IMG($vo['pic_cover'])}" />
												<input type="hidden" class="upload_img_id" value="{$vo['pic_id']}" />
												<div class="black-bg hide">
													<div class="off-box">&times;</div>
												</div>
											</div>
										{/foreach}
									{else /}
										<div class="upload-thumb" id="default_uploadimg">
											<img src="ADMIN_IMG/album/default_goods_image_240.gif" />
										</div>
									{/if}
								{else/}
								<div class="upload-thumb" id="default_uploadimg">
									<img src="ADMIN_IMG/album/default_goods_image_240.gif">
								</div>
								{/if}
							</div>
							<div class="clear"></div>
							<span class="img-error">最少需要一张图片作为商品主图</span>
							<p class="hint">第一张图片将作为商品主图,支持同时上传多张图片,多张图片之间可随意调整位置；支持jpg、gif、png格式上传或从图片空间中选择，建议使用尺寸800x800像素以上、大小不超过1M的正方形图片，上传后的图片将会自动保存在图片空间的默认分类中。</p>
							<div class="handle" style="margin-top: 5px;">
								<div class="ncsc-upload-btn" style="margin-left:0;">
									<a href="javascript:void(0);">
										<span>
											<input style="cursor:pointer;font-size:0;" type="file" id="fileupload" hidefocus="true" class="input-file" name="file_upload"multiple="multiple" />
										</span>
										<p>图片上传</p>
									</a>
								</div>
								<a class="ncsc-btn mt5" id="img_box" nctype="show_image" href="javascript:void(0);">从图片空间选择</a>
							</div>
						</div>
					</div>
					<span class="help-inline">最少需要一张图片作为商品主图</span>
				</dd>
			</dl>
		</div>
		
		<div class="goods-video">
			<h4>展示视频</h4>
			<dl>
				<dt>视频上传：</dt>
				<dd style="padding:0;">
					<div class="goodspic-uplaod" style="overflow: hidden;position:relative;">
				
						<div class="video-thumb">
							{if condition="$goods_info"}
								<video id="my-video" class="video-js vjs-big-play-centered" controls 
									{if condition="empty($goods_info['goods_video_address'])"} poster="__STATIC__/blue/img/goods_video_upload_bg.png" {else/} poster="" {/if}
									 src="{$goods_info['goods_video_address']}">
									<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that</p>
								</video>
								<span class="del-video {if condition='empty($goods_info.goods_video_address)'} hide {/if}" onclick="del_video(this)"></span>
							{else/}
								<video id="my-video" class="video-js vjs-big-play-centered" controls poster="__STATIC__/blue/img/goods_video_upload_bg.png" preload="auto">
									<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that</p>
								</video>
								<span class="del-video hide" onclick="del_video()"></span>
							{/if}
						</div>
						<input class="input-file" name="file_upload" id="videoupload" type="file" onchange="fileUpload_video(this);" title="视频上传" style="position: absolute;left: 0;width: 290px;height: 140px;opacity: 0;cursor: pointer;z-index:10;" />
					</div>
				</dd>
			</dl>
			
			<dl>
				<dt>输入网址：</dt>
				<dd>
					<input type="text" id="video_url" class="input-common" style="width: 290px !important;" placeholder="在此输入外链视频地址" {if condition="$goods_info"}value="{$goods_info.goods_video_address}"{/if} />
					<span style="display: block;margin-top: 5px;">注意事项：</span>
					<ul style="color:#FF6600;">
						<li>1、检查upload文件夹是否有读写权限。</li>
						<li>2、PHP默认上传限制为2MB，需要在php.ini配置文件中修改“post_max_size”和“upload_max_filesize”的大小。</li>
						<li>3、视频支持手动输入外链视频地址或者上传本地视频文件</li>
						<li>4、必须上传.mp4视频格式</li>
						<li>5、视频文件大小不能超过500MB</li>
					</ul>
				</dd>
			</dl>
		</div>
		
		<div class="goods-sku-picture">
			<h4>规格图片</h4>
			<dl class="sku-picture-dl" {if condition="$goods_info && $goods_info.goods_spec_format !=''"}style="display:block;"{/if}>
				<dt>规格名列表：</dt>
				<dd>
					<div class="sku-picture-div"></div>
				</dd>
			</dl>
			<dl class="sku-picture-dl-box">
				<dt>规格值列表：</dt>
				<dd>
					<div class="sku-picture-box"></div>
				</dd>
			</dl>
		</div>
		{include file="adminblue/Goods/fileAlbumImg"/}
	</div>
	
	<!-- 详情设置 -->
	<div class="block-goods-detail-setting">
	
		<div class="controls" id="discripContainer">
			<textarea id="tareaProductDiscrip" name="discripArea" style="height: 500px; width: 800px; display: none;"></textarea>
			<script id="editor" type="text/plain" style="width: 100%; height: 500px;"></script>
			<span class="help-inline">请填写商品描述</span>
		</div>
	</div>
	
	<div class="block-template-setting">
	
		<!-- 模板设置 -->
		<h4>模板设置</h4>
		<dl>
			<dt>电脑端：</dt>
			<dd>
				{$template_url['pc_template_url']}&nbsp;<input type="text" class="input-common harf" name="" id="pc_custom_template" value="{$goods_info.pc_custom_template}" style="width: 80px;" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">&nbsp;.html
				<p class="hint">用户自定义模板必须存放在{$template_url['pc_template_url']}下，模板名只能由英文组成，默认不填写</p>
			</dd>
		</dl>
		<dl>
			<dt>手机端：</dt>
			<dd>
				{$template_url['wap_template_url']}&nbsp;<input type="text" class="input-common harf" name="" id="wap_custom_template" value="{$goods_info.wap_custom_template}" style="width: 80px;" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">&nbsp;.html
				<p class="hint">用户自定义模板必须存放在{$template_url['wap_template_url']}下，模板名只能由英文组成，默认不填写</p>
			</dd>
		</dl>
	</div>
	
	<div class="js-mask-category" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 90; display: none; background: rgba(0, 0, 0, 0);"></div>
	
</div>

<div class="edit-sku-popup-mask-layer"></div>
<div class="edit-sku-popup">
	<header>
		<h3>选择规格</h3>
		<span>×</span>
	</header>
	<div class="edit-sku-popup-body">
		<aside>
			<p>选择规格 [可多选]</p>
			<div class="js-attr-block">
				<select id="search_attr_id" class="select-common attr-search" onchange="getAttrSearchSelected(this);">
					<option value="0" selected="selected">全部</option>
					{foreach name="goods_attribute_list" item="attribute"}
						<option value="{$attribute.attr_id}">{$attribute.attr_name}</option>
					{/foreach}
				</select>
			</div>
			<!-- 原始规格 -->
			<div class="original-sku">
				<ul class="original-sku-list">
					<li class="add-sku" style="display: none;"></li>
				</ul>
			</div>
			<p class="title">当前已选规格</p>
			<!-- 已选规格 -->
			<div class="current-selected-sku">
				<ul class="js-sku-list-popup">
					<li class="add-sku">
						<input type="text" class="input-common" placeholder="输入新规格名称">
						<i class="fa fa-plus"></i>
						<strong>添加新规格</strong>
					</li>
				</ul>
			</div>
		</aside>
		<article>
			<p>选择规格值 [可多选]</p>
			<div class="sku-value">
				
				<p class="empty-info">请选择左侧规格列表</p>
				
				<div class="sku-value-list">
					<label>
						<i class="checkbox-common">
							<input class="margin-small-right" id="checkAll" type="checkbox">
						</i>
						<span>全选</span>
					</label>
					<div class="add-sku-value-input">
						<input type="text" class="input-common" placeholder="输入规格值名称(回车保存)" />
					</div>
					<ul></ul>
				</div>
				
			</div>
			<div class="sku-display-mode">
				<header>
					<label>规格值展示方式</label>
					<span>指定规格值在前台的展示方式</span>
				</header>
				<p class="empty-info">请选择上方的规格值</p>
				<nav>
					<ul>
						<li data-spec-show-type="1">
							<label class="line-label">
								<span>文字（编辑不会改变原始规格）</span>
							</label>
						</li>
						<li data-spec-show-type="2">
							<label class="line-label">
								<i class="radio-common">
									<input type="radio" name="show_type" id="show_type2" value="2">
								</i>
								<span>颜色</span>
							</label>
						</li>
						<li data-spec-show-type="3">
							<label class="line-label">
								<i class="radio-common">
									<input type="radio" name="show_type" id="show_type3" value="3">
								</i>
								<span>图片</span>
							</label>
						</li>
					</ul>
				</nav>
				<ul></ul>
			</div>
		</article>
	</div>
	
	<footer>
		<span class="box-spec-bottom">注意：改变规格会删除现有的有的商品规格数据，并生成新的规格数据。</span>
		<button class="btn-common btn-big btn-top">生成</button>
		<button class="btn-common-cancle btn-big btn-bottom">取消</button>
	</footer>
</div>

<div class="point-card-inventory-management-popup">
	<div class="point-card-inventory-management-body">
	</div>
	<footer></footer>
</div>

<div style="height: 50px;" class="h50"></div>
<div class="btn-submit ncsc-form-goods" style="text-align: left;">
	<dl>
		<dt></dt>
		<dd style="padding: 0;">
			
			<button class="btn-common" id="btnSave" type="button" onClick="SubmitProductInfo(0,'ADMIN_MAIN','SHOP_MAIN')">保存</button>
			<button class="btn-common" id="btnSavePreview" type="button" onClick="SubmitProductInfo(1,'ADMIN_MAIN','SHOP_MAIN')">保存并预览</button>
		</dd>
	</dl>
</div>
{include file="adminblue/Goods/controlEditGoodsCommonScript"}
{/block}