<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"> 
    <title>关于我们</title>
    <link rel="stylesheet" href="public/css/default.css" type="text/css">
    <script src="public/js/jquery.js" type="text/javascript"></script>
    <script src="public/js/main.js" type="text/javascript"></script>
</head>
<body>
    <!-- 头部信息 -->
    <div class="topHeader">
        <div class="topHerderContent">
            <div class="title">WELCOME!</div>
            <div class="content">
                <div>
                    <img src="public/img/dianhua_5a5y.png" alt="">
                    <span>0571 8235 7902</span>
                </div>
                <div>
                    <img src="public/img/1gxf.png" alt="">
                    <span>850615757@qq.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navHeader">
        <div class="navHeaderContent">
            <div class="logoImg">
                <img src="public/img/defaultLogo.png" alt="">
            </div>
            <div class="navList">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>课程介绍</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>团队介绍</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>新闻资讯</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>联系我们</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>关于我们</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--图片展示 代写  -->
    <div class="showImg">
        <img src="public/img/banner555_w488.jpg" alt="">
        <div class="title">
            <span class="chinese">关于我们</span>
            <span class="english">ABOUT US</span>
        </div>
    </div>
    <!-- 导航块 -->
    <div class="mainBox">
        <!-- 页面指向 -->
        <div class="pageNav">
            <img src="public/img/l2gr_bmrr.png" alt="">
            <span class="title">当前位置:</span>
            <span class="text">首页 >> 关于我们</span>
        </div>
        <div class="aboutList">
            <ul>
                <li>
                    <div class="aboutImg">
                        <img src="public/img/about1.png" alt="">
                    </div>
                    <div class="aboutText">
                        高素质的师资团队
                    </div>
                </li
                ><li>
                    <div class="aboutImg">
                        <img src="public/img/about2.png" alt="">
                    </div>
                    <div class="aboutText">
                        强针对性的培训讲义
                    </div>
                </li
                ><li>
                    <div class="aboutImg">
                        <img src="public/img/about3.png" alt="">
                    </div>
                    <div class="aboutText">
                        精细化的培养体系
                    </div>
                </li
                ><li>
                    <div class="aboutImg">
                        <img src="public/img/about4.png" alt="">
                    </div>
                    <div class="aboutText">
                        成绩斐然的教学成果
                    </div>
                </li>
            </ul>
        </div>
        <div class="aboutInfo">
            <div class="aboutTitle">走进我们</div>
            <div class="aboutDetail">
                <div class="aboutDetailImg">
                    <img src="public/img/sdsd.jpg" alt="">
                </div>
                <div class="aboutDetailText">
                    <span>TRAINNIG有限公司，由国内顶尖的教育培训、爱好培养，以及企业管理培训专家联合组建创办，是一家专注于教育、培训、外语教学、软件教学、等教育培训机构。</span>
                    <span>拥有完善的课程体系。自创办开始，中心就在致力于找寻更符合中国人思维的培训教学、职业形象、职业素质、管理艺术等方法，以高质量的培训课程全力协助个人、企业与院校，全面提升个人综合素质以及打造团队竞争力高素质的授课师资以学历水平高、培训效果突出、授课经验丰富、专业化程度高、研发质量优异享誉业界，历年来不断涌现深受广大学员好评与信赖的知名教师。中心的所有训练课程打破了传统教学模式，采用“启发、参与、互动、体验式”的小班教练式训练模式，让学员在实战中将死知识转化为活技能，从而拥有健全的学习体系。</span>
                    <span>本着“服务于学习、服务于教育、服务于社会”的理念，充分利用现代网络信息技术， 搭建一个学习服务、招生培训平台，致力整合各种教育培训资源、学习资讯，以服务为根本， 以网络为平台。</span>
                    <span>我们目标是“构建终身教育体系、优化整合各种传统教育培训资源”，使之成为一个中部地区较大、内容较丰富的教育培训学习平台。自创建以来一直在追求实现一个真正实用的、高效的网络教育培训解决方案，一直在致力于为教育培训提供者和需求者提供真正的标准服务和特色服务，让教育培训需求者更好、更方便、更快捷地选择学习机会，使优秀教学、教育培训机构扩大招生，增加收益。同时，我们始终秉承“一对一”的客户管理理念，及时、全方位、热忱的一体化服务。</span>
                    <span>我们将成为您工作、学习、生活的亲密伴侣！</span>
                    <span class="title">办学宗旨：</span>
                    <span>共同打造良好的教学环境，增强学生的科目能力。真正提升学生水平！</span>
                    <span class="title">教学理念：</span>
                    <span>以学员为本，解决实际问题。兴趣导向，活跃课堂，课堂交往“零”距离！使学员获得长足进步与提高！</span>
                    <span class="title">教学特色：</span>
                    <span>课程采取有效的“启发、参与、互动、体验式”的教练式训练模式，模拟真实情境，通过登台、辩论、户外拓展等各种方式开展各项训练课程。</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部信息 -->
    <div class="footer">
        <div class="footerNav">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <span>首页</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>课程介绍</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>团队介绍</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>新闻资讯</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>联系我们</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>关于我们</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footerLogo">
            <img src="public/img/defaultLogo.png" alt="">
        </div>
        <div class="footerCopy">
            <span>
                Copyright © 杭州启林企业管理咨询有限公司 All Rights Reserved. 网站备案号 : 浙ICP备19011432号-1
            </span>
        </div>
    </div>
</body>
</html>