<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"> 
    <title>文章详情</title>
    <link rel="stylesheet" href="public/css/default.css" type="text/css">
    <script src="public/js/jquery.js" type="text/javascript"></script>
    <script src="public/js/main.js" type="text/javascript"></script>
</head>
<body>
    <!-- 头部信息 -->
    <div class="topHeader">
        <div class="topHerderContent">
            <div class="title">WELCOME!</div>
            <div class="content">
                <div>
                    <img src="public/img/dianhua_5a5y.png" alt="">
                    <span>0571 8235 7902</span>
                </div>
                <div>
                    <img src="public/img/1gxf.png" alt="">
                    <span>850615757@qq.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navHeader">
        <div class="navHeaderContent">
            <div class="logoImg">
                <img src="public/img/defaultLogo.png" alt="">
            </div>
            <div class="navList">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>课程介绍</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>团队介绍</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>新闻资讯</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>联系我们</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>关于我们</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--图片展示 代写  -->
    <div class="showImg">
        <img src="public/img/banner555_w488.jpg" alt="">
        <div class="title">
            <span class="chinese">新闻资讯</span>
            <span class="english">NEWS</span>
        </div>
    </div>
    <!-- 导航块 -->
    <div class="mainBox">
        <!-- 页面指向 -->
        <div class="pageNav">
            <img src="public/img/l2gr_bmrr.png" alt="">
            <span class="title">当前位置:</span>
            <span class="text">首页 >> 新闻资讯 >> 新闻</span>
        </div>
        <div class="artTitle">教育的目的在于生命、生活和生长</div>
        <div class="artInfo">来源:|作者:education-95|发布时间: 2022-11-16|399 次浏览</div>
        <div class="smallTitle">教育的目的在于生命、生活和生长</div>
        <div class="detail">
            《教育的目的》是英国教育家弗雷德·诺思·怀特海关于教育的经典著述，全书每个篇章都是精品，可谓字字珠玑，博大精深，其中蕴含的深刻教育思想，即便在今天看来，仍然闪耀着不朽的智慧光芒。

            　　生命：“人”是教育的根本目的
            　　《教育的目的》开宗明义说：“学生是有血有肉的人，教育的目的是为了激发和引导他们的自我发展之路。”教育的根本目的是“人”，必须警惕学校办学目标的异化。学校一切工作的出发点和立足点都应该是为了促进人的自我发展，远离名利之争。身在其中，学生能够时刻感受到来自师长的善意，感受到学校对生命成长的期待。
            　　曾应邀参加一所学校的教学研讨会，集中研讨一个问题：学校近年在市区的学业水平监控中居于下游水平，导致学生学业成绩滑坡的原因是什么？会上，很多教师认为学校社团活动太活跃，挤占了学生大量的学习时间，从而影响了学生学业成绩。听到这种批评，我很纳闷：社团活动怎么会影响到学业呢？
            　　一位青年教师的发言为我解开了疑惑。这位老师对社团持肯定态度，但她提出：学校总要求社团代表学校参加比赛要获奖，导致社团指导老师给学生加压，甚至挪用正常教学时间组织训练，才影响了学生的正常学习。原来如此！在这里，“获奖”成了社团的目的，“人”被功利遮蔽，被异化成了学校追名逐利的工具。目标异化，教育的失败不是必然的吗！正如怀特海所言：“我实在信奉这样一条教育原理：在教学中，一旦你忘记你的学生是有血有肉的，那么你就会遭遇悲惨的失败。”
            　　这让我想起另外一个故事：日本小提琴家铃木镇一上小学时，升学竞争很激烈，所有家长关心的是小孩的学习成绩。但铃木的父亲对他的成绩要求却不高，每门功课只要60分就可以了。父亲说：“60分就代表及格了，及格了就表示合格，你没有必要把全部的精力耗费在争名夺利上。求知是人世间较大的欢乐，如果你成天想到的只是考试分数，那求知不就变成一种无尽的苦难吗？”
            　　怀特海说：“人的天性各不相同，有很大的差异性。有的人可以鸟瞰、甚至融会贯通整个课程，而另一个人可能发现一些不相干例证。”他还强调：“我相信，在教育中如果排除差异化，那就是在毁灭生活。”每个孩子都是独一无二的，出生环境、天性、禀赋、兴趣等都不相同，教育者的眼中如果没有这种差异，而用同一把尺子要求孩子，教育无疑是一场灾难！
            　　生活：教育的唯一主题
            　　“教育只有一个主题——那就是多姿多彩的生活。”怀特海以不容置疑的语气作了这样的判断，一切教育活动都应该围绕“生活”这一主题展开，生活是教育的灵魂。
            　　围绕“生活”这一主题，怀特海特别重视教育对精神生活的意义。怀特海强调：“不能加以利用的知识是相对有害的。所谓知识的利用，是指要把它和人类的感知、情感、欲望、希望，以及能调节思想的精神活动联系在一起，那才是我们的生活。”关注精神生活，是怀特海“有用知识”的一个重要方面，他说：“我一直担忧，如果我们不能用新的方法来迎接新时代，维持和提升我国人民精神生活的水准，那么迟早，那些落空的愿望会转化为狂野的爆发，我们将重蹈俄国的覆辙。”正因为如此，怀特海十分强调艺术教育的作用，认为“致力于发展一种纯粹的智力，必将导致巨大的失败”。他指出：“在精神生活中，如果你忽视像艺术这样的伟大因素的话，那么你肯定会蒙受若干损失。我们的审美情趣使我们对价值有生动的理解，如果你伤害了这种理解，你就会削弱整个精神领悟系统的力量。”对精神生长和心灵世界的高度关注应该是教育的重要使命，是学校课程建设的重要命题。
            
        </div>
    </div>
    <!-- 底部信息 -->
    <div class="footer">
        <div class="footerNav">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <span>首页</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>课程介绍</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>团队介绍</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>新闻资讯</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>联系我们</span>
                    </a>
                </li
                ><li>
                    <a href="javascript:void(0)">
                        <span>关于我们</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footerLogo">
            <img src="public/img/defaultLogo.png" alt="">
        </div>
        <div class="footerCopy">
            <span>
                Copyright © 杭州启林企业管理咨询有限公司 All Rights Reserved. 网站备案号 : 浙ICP备19011432号-1
            </span>
        </div>
    </div>
</body>
</html>